/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

ul {
	list-style: none;
}

button,
input,
select,
textarea {
	margin: 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	text-align: left;
}

/* main styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", Arial, sans-serif;
	--light-blue: #58ADEA;
	--bright-blue: #1CCEFF;
	--dark-blue: #0F69AF;
	--white: #ffffff;
	--black: #000000;
	--violet: #5871A1;
	--dark-violet: #325299;
	--dark-grey: #4C5B66;
	--light-grey: #D9D9D9;
	--body-width: 375px;
}

html,
body {
	height: 100%;
	background-color: #ffffff;
	color: #000000;
}

.button {
	background-color: transparent;
}

.link-blue {
	color: var(--dark-blue);
	border-bottom: 1px solid var(--dark-blue);
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 100%;
	background-image: url(../img/background/gradient.png);
	background-repeat: no-repeat;
}

.dark-dot {
	background-color: var(--dark-violet);
	width: 9px;
	height: 9px;
	border-radius: 9px;
}

.dot {
	background-color: var(--light-blue);
	width: 10px;
	height: 10px;
	border-radius: 10px;
}

.huge-dot {
	background-color: var(--light-blue);
	width: 38px;
	height: 38px;
	border-radius: 38px;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	color: var(--white);
	padding-top: 11px;
}

.huge-dot-dark {
	background-color: var(--dark-violet);
	width: 38px;
	height: 38px;
	border-radius: 38px;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	color: var(--white);
	padding-top: 11px;
}

.small-dot {
	background-color: var(--light-blue);
	width: 4px;
	height: 4px;
	border-radius: 4px;
	margin: 3px 9px 0 0;
}

.dark-rounded {
	font-size: 10px;
	font-weight: 700;
	line-height: 12px;
	text-align: center;
	color: var(--white);
	background-color: var(--dark-blue);
	border-radius: 50px;
	margin: 0 0 8px 0;
}

.blue-list {
	display: flex;
}

.button {
	font-size: 10px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	color: var(--dark-violet);
	padding: 1px 0;
	margin: 0 auto;
	display: flex;

	background-image: url(../img/buttons/rainbow.svg);
	background-repeat: no-repeat;
	padding: 0px 0 0 0;
	background-size: contain;
	width: 133px;
	position: relative;
	border: 0;
}

.button-arrow {
	margin: 3px 9px 0px 11px;
}

.flex {
	display: flex;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px 25px 12px;
}

.header-menu {
	width: 82px;
	padding-top: 12px;
}

.header-logo {
	width: 269px;
}

/* footer */
.footer {
	position: relative;
	/*background-color: var(--light-grey);*/
}

.footer-logo {
	width: 357px;
	padding: 2px 0px 0 0;
	text-align: right;
}

.footer__leaf {
	position: absolute;
	top: 78px;
	left: 0;
	width: 74px;
}

.footer__tree {
	padding: 4px 0px 0 0;
	width: 375px;
	margin-bottom: -4px;
}

.footer__main {
	height: 173px;
	background-color: var(--light-grey);
}

.footer__bottom {
	height: 167px;
	background-color: var(--light-grey);
	text-align: center;
}

.footer__main-doc {
	margin: 0 auto;
	width: 146px;
	padding: 8px 0px 20px 0;
}

.footer__main-img {
	width: 40px;
}

.footer__main-link {
	width: 90px;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	padding: 0 0 0 6px;
}

.footer__main-btn {
	margin: 0 auto;
	width: 315px;
	padding: 0 15px 6px 0;
	text-align: center;
	border-bottom: 1px solid var(--black);
}

.footer__bottom-logo {
	width: 146px;
	padding: 20px 12px 20px 0;
}

.footer__bottom-text {
	text-align: left;
	color: rgb(139, 139, 139);
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	padding: 1px 28px 20px 30px;
}

.footer-link {
	color: rgb(139, 139, 139);
}