/* main*/
.slide0_layer1 {
	background-image: url(../img/background/back.png);
	background-position: 0px 45px;
}

.slide0__top-container {
	display: flex;
	z-index: 2;
	position: relative;
	flex-direction: row;
	width: 100%;
}

.slide0__main-container {
	width: 700px;
	opacity: 0;
	transition: all 1s ease;
}

.slide0__main-container-title {
	padding-top: 116px;
	padding-left: 137px;
	font-size: 45px;
	font-weight: 700;
}

.slide0__main-title-abbr {
	font-size: 160px;
	font-weight: 900;
	line-height: 162px;
	margin-left: -5px;

}

.slide0__main-text-top,
.slide0__main-text-bottom {
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
}

.slide0__main-title {
	color: var(--light-blue);
}

.slide0__main-text-top,
.slide0__main-text-bottom,
.slide0__main-title-abbr {
	background: -webkit-linear-gradient(90deg, rgb(75, 91, 102), rgb(88, 173, 234) 70%);
	background: -moz-linear-gradient(90deg, rgb(75, 91, 102), rgb(88, 173, 234) 70%);
	background: linear-gradient(90deg, rgb(75, 91, 102), rgb(88, 173, 234) 70%);
	color: transparent;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-transform: uppercase;
}

.slide0__main-text-top {
	padding-top: 11px;
	border-bottom: 1px solid var(--black);
}

.slide0__center-container {
	margin-top: 95px;
	padding-top: 86px;
	padding-left: 42px;
	background-image: url(../img/screen-0/hexagon.png);
	width: 428px;
	height: 460px;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 2s ease;
	/*первое срабатывание первого слайда, дальше - js*/
	transform: translateX(600px);
	color: var(--white);
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;

}

.slide0__center-year {
	display: flex;
}

.slide0__year {
	font-size: 200px;
	font-weight: 900;
	line-height: 180px;
}

.slide0__year-text {
	transform: rotate(270deg);
	padding-top: 27px;
	width: 100%;
	padding-left: 4px;
}

.slide0__center-text {
	font-weight: 400;
	padding-top: 8px;
}

.slide0__info-container {
	color: var(--black);
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	width: 440px;
	transform: translateX(336px);
	transition: all 1s ease;
	padding-top: 208px;
	padding-right: 60px;
	opacity: 0;
}

.slide0__info-header {
	font-weight: 700;
	text-transform: uppercase;
}

/* листья */
.slide0_layer4__leaf1 {
	position: absolute;
	right: 166px;
	top: 16px;
	transition: all 2s ease;
	transform: translate3d(600px, 160px, 0px);
}

.slide0_layer5__leaf2 {
	position: absolute;
	left: 597px;
	top: 42px;
	transition: all 2s ease;
	transition-delay: 1s;
	transform: translate3d(700px, 160px, 0px);
}

.slide0_layer5__leaf3 {
	position: absolute;
	right: 472px;
	top: 70px;
	transition: all 2s ease;
	transition-delay: 1.5s;
	transform: translate3d(600px, 160px, 0px);
}

.slide0_layer3__main {
	transition: all 2s ease;
	position: absolute;
	inset: -15px 0 0 720px;
	transform: scale(1.12);
	z-index: 11;
}

.slide0_layer3__nuts {
	bottom: 65px;
	left: 145px;
	position: absolute;
	transition: all 2s ease;
	opacity: 0;
}

.slide0_layer3__circle {
	bottom: 149px;
	left: 56px;
	position: absolute;
	transition: all 2s ease;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

/* анимированный кружок */
.circle {
	background-clip: content-box;
	margin: auto;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	position: absolute;
	opacity: 0;
	animation: scaleIn 6.5s infinite linear;
}

.slide0_layer3__circle-out {
	transition: all 2s ease;
	opacity: 0;
	position: absolute;
	width: 70px;
	height: 70px;
}

.slide0_layer3__circle-img {
	z-index: 10;
	transition-delay: 1s;
	transition: all 2s ease;
	opacity: 0;
}

.slide0_layer5__lines {
	transition: all 2s ease;
	opacity: 0;
}

@keyframes scaleIn {
	from {
		border: 2.2px solid #1CCEFF;
		transform: scale(0.5, 0.5);
		opacity: 1;
	}

	to {
		transform: scale(3.1, 3.1);
		opacity: 0;
		border: 1px solid #1CCEFF;
	}
}

/* полоски */
.slide0_layer5__line-top {
	position: absolute;
	bottom: 134px;
	left: 143px;
	z-index: 11;
	animation: clip-fade 12s ease;
	
	-webkit-mask-image: linear-gradient(90deg, #fff 50%, #0000 50%);
	mask-image: linear-gradient(90deg, #fff 50%, #0000 50%);
	-webkit-mask-size: 220% 100%;
	mask-size: 220% 100%;
	-webkit-mask-position: right;
	mask-position: right;
}

.slide0_layer5__line-bottom {
	position: absolute;
	bottom: 147px;
	left: 341px;
	z-index: 8;
	animation: clip-fade 12s forwards ease 0.5s;

	-webkit-mask-image: linear-gradient(90deg, #fff 50%, #0000 50%);
	mask-image: linear-gradient(90deg, #fff 50%, #0000 50%);
	-webkit-mask-size: 220% 100%;
	mask-size: 220% 100%;
	
	-webkit-mask-position: right;
	mask-position: right;
}




@keyframes clip-fade {
	0% {
	}

	100% {
		-webkit-mask-position: left;
		mask-position: left;
	}
}


.move-img {	
	mask-image: url(../img/screen-0/gradient_mask1.png);
	-webkit-mask-image: url(../img/screen-0/gradient_mask1.png);
	-webkit-mask-size: 300% 100%;
	mask-size: 300% 100%;
	animation: move 5s forwards infinite;
}


@keyframes move {

	0% {
		-webkit-mask-position: right;
		mask-position: right;
	}


	100% {
		-webkit-mask-position: left;
		mask-position: left;
	}
}

/* этапы */
.slide0_layer4__stages {
	top: 608px;
	left: 457px;
	position: absolute;
	transition: all 2s ease;
	opacity: 1;
	display: flex;
	flex-direction: row;
	gap: 53px;
	text-align: center;	
	z-index: 12;
}

.slide0_layer4__stage {
	opacity: 0;
	animation: bounce 2s forwards ease;
	
}

.slide0_layer4__stage_name {
	background-color: var(--dark-grey);
	color: var(--white);
	font-size: 28px;
	font-weight: 500;
	line-height: 28px;
	border: 2px solid var(--white);
	border-radius: 33px;
	width: 200px;
	height: 42px;
	padding-top: 5px;
	margin: 0 auto;
}

.slide0_layer4__stage_descr {
	color: var(--black);
	font-size: 19px;
	font-weight: 400;
	line-height: 19px;
	margin-top: 10px;
}



@keyframes bounce {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	60% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}