/* main */
.slide7_layer2 {
    background: url(../img/background/back7.png) no-repeat;
    background-position: 426px 442px;
}

/* пентагоны */
.slide7__poly {
    position: absolute;
    left: 0;
    top: 13px;
    opacity: 0;
    transition: all 1s ease;
}
.slide7__poly2 {
    position: absolute;
    left: 933px;
    top: 237px;
    opacity: 0;
    transition: all 1s ease;
}

.slide7_layer3__nuts {
    bottom: 17px;
    left: 655px;
	position: absolute;
	transition: all 2s ease;
	opacity: 0;
    z-index: 270;
}

/* листья */
.slide7_layer3__leaf1 {
    position: absolute;
    left: -302px;
    top: -28px;
    transition: all 2s ease 1s;
}

.slide7_layer2__leaf2 {
    position: absolute;
    left: -281px;
    top: 346px;
    transition: all 2s ease 2s;
}

.slide7_layer3__leaf3 {
    position: absolute;
    left: -254px;
    top: 187px;
    transition: all 2s ease 2s;
}
.slide7_layer2__leaf4 {
    position: absolute;
    left: -254px;
    top: 0;
    transition: all 2s ease 1s;
}

/* подзаг */
.slide7__top-container {
    width: 100%;
    padding-top: 177px;
    padding-left: 14px;
    display: flex;
    flex-direction: row;
}

.slide7__top-container-line {
    background-image: url(../img/screen-2/line_top.svg);
    width: 9px;
    height: 156px;
    margin-top: 11px;
    margin-left: 121px;
    opacity: 0;
    transition: all 1s ease;
}

.slide7__top-container-title {
    opacity: 0;
    transition: all 1s ease;
    margin-left: 44px;
    margin-right: 116px;
}

.slide7__top-container-title h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-transform: uppercase;
}

/* контент */
.slide7__main {
    opacity: 0;
    margin-top: -5px;
    padding-left: 75px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    width: 1850px;
    position: absolute;
    transition: all 2s ease;
    display: flex;
}

.slide7__main-left,.slide7__main-right  {
    display: flex;
    margin-top: 60px;
}

.slide7__main-right-dottext {
    margin-left: 54px;
}

.slide7__text-left, .slide7__text-right {
    top: 178px;
    position: absolute;
    opacity: 0;
    transition: all 1s ease;   
}
.slide7__text-left {
    width: 440px;
}
.slide7__text-right {
    width: 456px;
}
.slide7__main-left {
    margin-left: 56px;
}

.slide7__main-left-dottext {
    margin-left: 54px;
}

.slide7__main-right {
    margin-left: 559px;
}
.slide7__dot-left, .slide7__dot-right {
    opacity: 0;
    transition: all 1s ease;  
}


/* корни */
.slide7__root1-senior {
    position: absolute;
    top: 786px;
    left: -2px;
    z-index: 250;
    opacity: 0;
}

.slide7__root2-senior {
    position: absolute;
    top: 796px;
    left: 95px;
    z-index: 240;
    transition: all 2s ease;
    opacity: 0;
}

.slide7__root1-back {
    position: absolute;
    top: 786px;
    left: -2px;
    z-index: 245;
    transition: all 2s ease;
    opacity: 0;
}


.animation__root-slide7 {
    animation: clip-fade7 5s forwards ease;
    -webkit-mask-image: linear-gradient(90deg, #fff 50%, #0000 50%);
    mask-image: linear-gradient(90deg, #fff 50%, #0000 50%);
    -webkit-mask-size: 220% 100%;
    mask-size: 220% 100%;
    -webkit-mask-position: right;
    mask-position: right;
}

@keyframes clip-fade7 {
    0% {}

    100% {
        -webkit-mask-position: left;
        mask-position: left;
    }
}

.animation__move-img7 {
    mask-image: url(../img/screen-2/gradient_mask2.png);
    -webkit-mask-image: url(../img/screen-2/gradient_mask2.png);
    -webkit-mask-size: 300% 100%;
    mask-size: 300% 100%;
    animation: move7 10s steps(100) infinite;
    -webkit-mask-position: right;
    mask-position: right;
    will-change: mask-position;
}

@keyframes move7 {
    100% {
        -webkit-mask-position: left;
        mask-position: left;
    }
}
