/* main */
.slide2_layer1 {
    background-image: url(../img/background/back.png);
    background-position: -65px 1px;
}

.slide2_layer2 {
    background: url(../img/background/back2.png) no-repeat;
    background-position: 15px -59px;
}

/* листья */
.slide2_layer2__leaf1 {
    position: absolute;
    left: -236px;
    top: 37px;
    transition: all 2s ease;
}

.slide2_layer3__leaf1 {
    position: absolute;
    left: -1799px;
    top: -24px;
    transition: all 2s ease;
}

.slide2_layer3__leaf2 {
    position: absolute;
    left: 2101px;
    top: -18px;
    transition: all 2s ease;
}

.slide2_layer3__leaf3 {
    position: absolute;
    left: 2159px;
    top: -20px;
    transition: all 2s ease;
}

/* облака */
.slide2_layer2__cloud1 {
    opacity: 1;
    -webkit-animation: animatedBackground 320s linear forwards infinite;
    animation: animatedBackground 320s linear forwards infinite;
}

@-webkit-keyframes animatedBackground {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(2500px);
    }
}

@keyframes animatedBackground {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(2500px);
    }
}

.slide2_layer2__cloud2 {
    opacity: 1;
    padding-top: 60px;
    -webkit-animation: animatedBackground2 200s linear forwards infinite;
    animation: animatedBackground2 200s linear forwards infinite;
}

@-webkit-keyframes animatedBackground2 {
    from {
        transform: translateX(-2000px);
    }

    to {
        transform: translateX(1000px);
    }
}

@keyframes animatedBackground2 {
    from {
        transform: translateX(-2000px);
    }

    to {
        transform: translateX(1000px);
    }
}

.slide2__top-container {
    width: 100%;
    padding-top: 102px;
    padding-left: 331px;
    display: flex;
    flex-direction: row;
}

.slide2__top-container-line {
    background-image: url(../img/screen-2/line_top.svg);
    width: 9px;
    height: 156px;
    margin-top: 5px;
    margin-left: 121px;
    opacity: 0;
    transition: all 1s ease;
}

.slide2__top-container-title {
    opacity: 0;
    transition: all 1s ease;
    margin-left: 45px;
}

.slide2__top-container-title h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 47px;
}

/* кружки */
.slide2__circle-container {
    top: 202px;
    left: 357px;
    position: absolute;
    transition: all 2s ease;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide2__circle-img {
    border-radius: 33px;
    background-color: var(--dark-violet);
    width: 18px;
    height: 18px;
}

.slide2__main-container {
    width: 100%;
    display: flex;

}

/* левая колонка */
.slide2__main-col-left {
    opacity: 0;
    transition: all 1s ease;
    padding-left: 506px;
    font-size: 24px;
    line-height: 30px;
    width: 1000px;
    position: absolute;
    transform: translate3d(0px, 100px, 0px);
}

.slide2__main-col-left_title {
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 289px;
}

.slide2__main-col-left_text {
    font-weight: 400;
    padding-top: 34px;
}

/* правая колонка */
.slide2_layer2__line {
    opacity: 0;
    transition: all 1s ease;
    position: absolute;
    top: 119px;
    left: 1059px;
}

.slide2__main-col-right {
    opacity: 0;
    transition: all 1s ease;
    padding-top: 106px;
    padding-left: 1097px;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    width: 1850px;
    position: absolute;
}

.slide2__main-col-right-back {
    width: 54px;
    height: 30px;
    border-radius: 33px;
    opacity: 0;
    transition: all 1s ease;
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    position: absolute;

}

.slide2__main-col-right-text {
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
    transition: all 1s ease 1s;
    color: var(--white);
    text-align: center;
    padding: 0;
    position: absolute;
}

.slide2__main-col-right-dottext {
    opacity: 0;
    transition: all 1s ease;
    padding-left: 22px;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
}

.slide2__right-seven,
.slide2__right-eight,
.slide2__right-nine,
.slide2__right-eleven,
.slide2__right-twelve,
.slide2__right-thirteen {
    display: flex;
}

.slide2__back-one {
    margin-top: 4px;
}

.slide2__text-one {
    margin-top: 4px;
    width: 550px;
}

.slide2__back-two {
    margin-top: 44px;
}

.slide2__text-two {
    margin-top: 44px;
    width: 545px;
}

.slide2__right-three {
    margin-top: 112px;
}

.slide2__back-six {
    margin-top: 28px;
}

.slide2__text-six {
    margin-top: 28px;
    width: 160px;
}

.slide2__right-seven {
    padding-top: 65px;
}

.slide2__right-eight,
.slide2__right-nine {
    padding-top: 3px;
}

.slide2__back-ten {
    margin-top: 19px;
}

.slide2__text-ten {
    margin-top: 19px;
    width: 200px;
}

.slide2__right-eleven {
    padding-top: 65px;
}

.slide2__right-twelve,
.slide2__right-thirteen {
    padding-top: 3px;
}

/* корни */
.slide2__root2-intern {
    position: absolute;
    top: 497px;
    left: 26px;
    width: 581px;
    height: 527px;
    z-index: 250;
    max-width: 581px;
    transition: all 2s ease;
    opacity: 0;
}

.slide2__root3-intern {
    position: absolute;
    top: 496px;
    left: 89px;
    width: 581px;
    height: 527px;
    z-index: 250;
    max-width: 581px;
    transition: all 2s ease;
    opacity: 0;
}

.slide2__root1-back {
    position: absolute;
    top: 504px;
    left: 20px;
    width: 581px;
    height: 527px;
    max-width: 581px;
    z-index: 240;
    transition: all 2s ease;
    opacity: 0;
}

.slide2__root1-intern {
    position: absolute;
    top: 504px;
    left: 20px;
    width: 581px;
    height: 527px;
    max-width: 581px;
    z-index: 250;
    opacity: 0;
}

.animation__root-slide2 {
    animation: clip-fade2 12s forwards ease;
    -webkit-mask-image: linear-gradient(90deg, #fff 50%, #0000 50%);
    mask-image: linear-gradient(90deg, #fff 50%, #0000 50%);
    -webkit-mask-size: 220% 100%;
    mask-size: 220% 100%;
    -webkit-mask-position: right;
    mask-position: right;
}

@keyframes clip-fade2 {
    0% {}

    100% {
        -webkit-mask-position: left;
        mask-position: left;
    }
}

.animation__move-img2 {
    mask-image: url(../img/screen-2/gradient_mask2.png);
    -webkit-mask-image: url(../img/screen-2/gradient_mask2.png);
    -webkit-mask-size: 300% 100%;
    mask-size: 300% 100%;
    animation: move2 10s steps(100) infinite;
    -webkit-mask-position: right;
    mask-position: right;
    will-change: mask-position;
}

@keyframes move2 {
    100% {
        -webkit-mask-position: left;
        mask-position: left;
    }
}
